.nav-logo{background-size:28px 28px; height:45px;}
.header-logo{background-size:28px 28px; width:50px;}
.footer .footer-logo{background-size:80px 80px;	height:80px!important; margin-bottom:20px!important;}

.theme-light .header .header-logo{background-image:url(/images/preload-logo.png);background-color:#173152}
.theme-light .menu .nav-logo{background-image:url(/images/preload-logo.png);}
.theme-light .footer .footer-logo{background-image:url(/images/preload-logo.png);}

.bg-recovery-day {
    background-image: url(/images/recovery-day-bg.png);
}
.bg-acepa {
    background-image: url(/images/french-video-thumb.png);
}

.bg-button-blue {
    background-color: #173152!important;
    color:#FFFFFF;
}
.color-highlight-blue {
    color:#173152!important;
}
body {
    color:#173152!important;
}
.border-white{
    border-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
}
.color-theme-orange{
    color:#e87026!important;
}
/* #e87026
border-color: #ebebeb
 */
 span .white {
     color:#FFFFFF!important;
     text-decoration: none;
 }
