#sectionOneSupport .left-txt-space {
    width: 100%;
    margin: 0 auto 18px auto;
}
.owlCarouselSlider.owl-theme .owl-nav .disabled {
    opacity: 0;
}
.owlCarouselSlider.owl-theme .owl-dots .owl-dot{
    pointer-events: none;
}
.owlCarouselSlider.owl-carousel .owl-item{	
  	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.14);
    background-color: #ffffff;
    border: 2px solid #dedede;
    margin-bottom: 15px;
}
.owlCarouselSlider.owl-carousel.owl-drag .owl-item p.carouselTitle {
    position: absolute;
    top: 10px;
    color: #FFF;
    width: 100%;
    text-align: center;
    padding: 0 60px;
}
.owlCarouselSlider.owl-carousel.owl-theme .owl-dots .owl-dot span{
    background: #9a9a9a;
}
.owlCarouselSlider.owl-carousel.owl-theme .owl-dots .owl-dot.active span, .owlCarouselSlider.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #c31187;
}
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 172px;
    left: -34px;
    background: #FFF;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.14);
}
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 172px;
    right: -34px;
    background: #FFF;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.14);	
}
.owl-carousel .owl-nav button.owl-next i, .owl-carousel .owl-nav button.owl-prev i{font-size: 50px;}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #FFF;
    color: #333;
    text-decoration: none;
}
.owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus{outline: none;}
p.p1para.access-360-logo {
    background-image: url('/content/dam/website-services/us/519-fasenra-com/redesign/images/access-360-logo.png');
    background-repeat: no-repeat;
    height: 70px;
    background-position: center;
    background-size: contain;
}
.fa-times-thin:before {
	content: '\00d7';
}
.closeicon{ 
    font-size:50px;
    top:0;
    position: absolute;
    right: 10px;
    color: #fff;
    line-height:60px;
    font-family: 'OpenSans-Light';
}
.closeicon:hover,.closeicon:active{color: #fff; text-decoration:none;} 
.support .logoFasenra360 img {
    max-width: 278px;
}
.owl-theme .owl-dots {
    margin-bottom: 101px;
}

@media (min-width:1024px){

	.support .owlCarouselSlider.owl-carousel.owl-drag .owl-item span.carouselTitle{top:125px;}
	.support .secOne{margin:0 auto 60px auto}
    .support ul.treatAsthmaTable{background-color:transparent;margin-top: 28px;}
    .support ul.treatAsthmaTable li p{margin-bottom:30px;}
    .support ul.treatAsthmaTable li span.decimal-leading-zero{font-family:'OpenSans-Regular';}
	.support a[href="#findDoctor"]{margin-bottom:30px;}
	.support .p3para{font-size:16px;}
	.support .footnote p{font-size:12px;}
	.owlCarouselSlider.owl-carousel.owl-drag .owl-item .secLinkBtn1.secLinkBtnHide {
    	margin: 20px 0 20px 0;
	}
	.support .secOne{overflow:inherit;}
	.support .termsUse ul.bulletedList{padding-left:20px;}
	.support p.logoFasenra360 {
        margin-bottom: 19px;
    }
	#sectionOneSupport {
        margin: 0 auto 54px auto;
    }
	.secLinkBtnCustom{margin:13px 0 55px 0;}
	.termsUse{margin: 0 0 71px 0; }
}
@media (min-width:768px) and (max-width:1023px){
	.support .hero_image{margin-bottom: 72px; padding-bottom: 365px;    margin-top: -202px;     margin-top: -202px;
    overflow: hidden;}
	.support .hero_text{padding-top: 58px;}
    .support h2.banner_head {
        margin-bottom: 30px;
    }
	.support .owlCarouselSlider.owl-carousel.owl-drag .owl-item span.carouselTitle{top:40%;}
	a[href^="tel"]{
    	color: #c41188;
	}
	.support .footnote{
	    text-indent: -5px;
    	padding-left: 5px;
    }

}
@media (min-width:768px) and (max-width:1024px) and (orientation: landscape){
    .support .owlCarouselSlider.owl-carousel.owl-drag .owl-item span.carouselTitle{top:105px;}
    .owl-carousel .owl-nav button.owl-prev{
    	left: 0px;
	}
    .owl-carousel .owl-nav button.owl-next{
        right: 0px;
    }
}
@media (min-width:320px) and (max-width:767px){
	.support .hero_image{margin-bottom: 60px; padding-bottom: 206px;}
	.support .secOne{margin:0 auto 50px auto}
	.owlCarouselSlider.owl-carousel.owl-drag .owl-item .secLinkBtn1{padding: 8px 25px;}
	.support .owl-theme .owl-dots{padding-top:10px;}
	ul.treatAsthmaTable{ margin: 0 0px 50px -12px;    width: calc(100% + 24px);}
	ul.treatAsthmaTable li{border-bottom: 1px solid #ccc;}
	ul.treatAsthmaTable li:last-child{border-bottom:none;}
	.owlCarouselSlider.owl-carousel.owl-drag .owl-item:nth-child(3) span.carouselTitle{top:77px;}
	.owlCarouselSlider.owl-carousel.owl-drag .owl-item:nth-child(4) span.carouselTitle{top:60px;}
	.support .secOne .logoFasenra360{margin:0 0 30px 0;}
	.secOne .mab50{margin-bottom:50px;}
	.support .footnote p{font-size:10px;text-indent: -0.5em;}

}
.support ul.bulletedList li{list-style-type: inherit;}