.logo-box {
  background-color: #ffffff;
}
.logo {
  height: 5vh;
  width: auto;
  align-content: center;
  margin-top:1.25vh;
  margin-left: auto;
  margin-right:auto; 
}
.logo-oda {
  height: 5vh;
  width: auto;
  align-content: center;
  margin-left: auto;
  margin-right:auto; 
}
.logo-asm {
  height: 8vh;
  width: auto;
  align-content: center;
  margin-top:1.25vh;
  margin-left: auto;
  margin-right:auto; 
}

.footer {

  padding: 10px 0px 5px 0px;
}

.footer-title{
  padding-top:5px;
  padding-bottom:25px;
}

.content-boxed {
  padding: 0;
}

.is-not-ios .remove-padding{
  padding-bottom:0;
  box-shadow: none;
}

.color-gc {
  color: #009487;
}
.bg-gc{
  background-color: #009487;
}

.clear-box::after {
  content: "";
  display: table;
  clear: both;
}
